select {
  &.form-control {
    &, &.is-invalid {
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23264173' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-size: initial;
      background-repeat: no-repeat;
      background-position-x: calc(100% - 1rem);
      background-position-y: center;
    }
  }
}