.page {
  .page-header {
    display: flex;
    align-items: center;

    h1 {
      font-size: 2rem;
    }

    .page-header-actions {
      margin-left: auto;
    }
  }

  .page-content {
    padding: 1rem 0;
  }

  .page-buttons {

  }
}