.page {
  .page-header {
    padding: 1.5rem 0 2rem;

    h1 {
      font-size: 2rem;
      margin: 0;
    }

    &.with-actions {
      display: flex;
      align-items: center;
      
      .page-header-actions {
        margin-left: auto;
      }
    }
  }

  .page-content {
    padding: 1rem 0;
  }

  .page-buttons {

  }
}