@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

$enable-shadows: true;

$body-bg: #FFF;

$font-family-base: 'Roboto', Arial, Helvetica, sans-serif;
