@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

$enable-shadows: true;

$body-color: #4D4F51;
$body-bg: #F8FAFC;

$link-color: #39C697;
$link-hover-color: #28B586;

$font-family-base: 'Roboto', Arial, Helvetica, sans-serif;

$buttons-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .04);
$container-box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .04);

$header-bg: #FFF;
$header-box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .04);

$border-radius-sm: .1875rem;
$border-radius: .25rem;
$border-radius-lg: .35rem;
$border-color: #D9E6F2;
$border-color-hover: darken($border-color, 5%);

$btn-font-weight: $font-weight-bold;
$btn-box-shadow: none;
$btn-font-size: .9375rem;
$btn-line-height: 1.46;
$btn-padding-x: 1.25rem;
$btn-padding-y: .657rem;
$btn-link-disabled-color: $link-color;
$btn-disabled-opacity: .5;

$component-active-bg: $primary;

$input-btn-focus-color: rgba($component-active-bg, .25);
$input-box-shadow: $buttons-box-shadow;
$input-border-color: $border-color;
$input-font-size: .9375rem;
$input-font-weight: $font-weight-normal;
$input-line-height: 1.46;
$input-padding-x: .9375rem;
$input-padding-y: .6285rem;
$input-height: add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false));
$input-placeholder-color: $gray-500;
$input-focus-border-color: $primary;
$input-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-disabled-bg: #F1F1F1;

$navbar-padding-y: 1.25rem;

$modal-md: 555px;

$modal-content-box-shadow-xs: none;
$modal-content-box-shadow-sm-up: none;
$modal-content-border-radius: $border-radius;
$modal-content-border-color: $body-bg;
$modal-backgrop-bg: #333;
$modal-footer-padding: 1.5rem 2.25rem;
$modal-body-padding: 0 2.25rem 2.5rem;

$table-accent-bg: #F4F9FE;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);