@import "styles/variables";

.app-header {
  background: $header-bg;
  box-shadow: $header-box-shadow;
  height: 5rem;

  .navbar-brand {
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;

    .svg-icon {
      display: block;
      margin-right: .5rem;
    }
  }
}