@import "styles/variables";

.app-layout-block {
  .app-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .app-content-box {
      border: 1px solid $border-color;
      box-shadow: $container-box-shadow;
      max-width: 30rem;
      width: 100%;
      padding: 2rem;
      background: #FFF;
      margin: 1rem 0;

      .page-header {
        padding-top: 0;
        text-align: center;
      }
    }
  }
}